ul {
  list-style    : none;
  padding       : 0;
  margin        : 0;
  border        : 1px solid #CCC;
  border-radius : 16px;
}

li {
  position   : relative;
  transition : background 0.2s;
}
  li:not( :last-of-type ) {
    border-bottom : 1px solid #CCC;
  }
  li:hover {
    background : #F1F1F1;
  }
  li > button {
    position   : absolute;
    top        : 0;
    right      : 0;
    bottom     : 0;
    background : none;
    border     : 0;
  }
  li > button:after {
    content : 'âŒ';
    display : block;
  }

label {
  display     : block;
  padding     : 16px 0 16px 16px;
  line-height : 1.2;
}

li > input {
  position   : absolute;
  top        : 0;
  right      : 0;
  bottom     : 0;
  left       : 0;
  z-index    : 10;
  font-size  : 16px;
  border     : 0;
  padding    : 16px 0 16px 16px;
  appearance : none;
  outline    : none;
  font-family: inherit;
  color      : #213547;
}

li:first-of-type,
li:first-of-type > input {
  border-top-left-radius  : 16px;
  border-top-right-radius : 16px;
}

li:last-of-type,
li:last-of-type > input {
  border-bottom-left-radius  : 16px;
  border-bottom-right-radius : 16px;
}